md-toolbar{
  background-color:white;
  height:75px;
  position:absolute;


}

#text{
  color:white;
  z-index:3;
  position:absolute;
  font-family: 'Quicksand', sans-serif;
  text-align:center;
  font-size:45px;
  margin-left:6%;
  margin-top:15%;
}

*{
  /*font-family: 'Quicksand', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
}

#social-media li{
  background-color:white;
  /*width:50px;
  margin-left:4%;
  height:50px;
  border-radius:100px;
  background-color:none;*/
}
#social-media img{
  margin-top:-10px;
}

#social-media li{
  margin-left:0%;

}

#social-media{
  width:100px;
  margin-top:-60px;
  margin-left:80%;
}

ul li{
  list-stye-type:none;
  display:inline-block;
  margin-left:8%;
  background-color:#1E63EF;
  height:47px;
  width:100px;
  padding:10px;
  text-align:center;
  color:white;
}

ul{
  width:600px;
  margin-left:15%;
}

md-card-header{
  position:absolute;
  z-index:0;
}

nav{
  position:absolute;
  margin-left:25%;
  margin-top:15px;
}

nav li:hover{
  background-color:#393939;
}



#container div{


}

.projects div{
 /* border:solid red 3px;*/
  height:800px;
}

#mirror{
  background-color:#E5B15B;
}

#panam{
  background-color:#1660F5;
}

#spotify{
  background-color:black;
}

#heem{
  background-color:black;
}

#content-heading{
  height:100px;
  background-color:grey;
}

#mobile{
  height:1300px;
}

#mirror-list li{
  background-color:none;
}


.project-heading span{
  font-size:24px;
}

.mobile-case{
  font-size:24px;
}

.project-heading{
  color:black;
  font-weight:bold;
  position:absolute;
  margin-left:150px;
  margin-top:270px;
}

.project-description{
  color:black;
  margin-top:330px;
  width:400px;
  margin-left:75px;
  position:absolute;
}

.project-image{
  margin-left:75px;
  margin-top:400px;
  position:absolute;
  height:350px;
  width:450px;
}

#span-one{
  font-size:50px;
}

#span-two{
margin-top:-50px;
font-size:50px;
}

#span-three{
  font-weight:none;
  font-size:35px;
}

#mywork{
  margin-left:43%;
  margin-top:35%;
}

#mywork-heading{
  font-weight:bold;
  font-size:30px;
  margin-left:-2%;
  margin-top:-2%;
  z-index:2;
  position:absolute;
  color:white;
}

#about{
  /*margin-left:5%;*/
  background-color:#1E63EF;
  height:600px;
  width:100%;
  color:white;
}

.align{
  display:inline-block;

}

#about-heading{
  font-size:50px;
}

#about-text{
  line-height:30px;
 /* float:right;*/
  font-size:20px;
  width:100%;

}

#heem-iframe{
  position:absolute;
  margin-left:50%;
  width:476px;
  height:1000px;
}

#heem-heading{
  color:white;
  font-weight:bold;
  position:absolute;
  margin-left:100px;
  margin-top:170px;
}

#heem-description{
  font-size:20px;
  color:white;
  margin-top:230px;
  width:400px;
  margin-left:100px;
  position:absolute;
}

#image-holder{
 /* padding:10px;*/
  width:45%;
  float:left;
/*  margin-left:25%;*/
}

#image-holder img{

}

footer{
  width:100%;
  height:200px;
  background-color:#393939;
}

footer p{
  text-align:center;
  margin-left:45%;
  margin-top:100px;
  color:white;
  position:absolute;
  font-size:14px;
}

.padding{
  padding:15px;
}

#spotify-heading{
color:white;
font-weight:bold;
position:absolute;
margin-left:700px;
margin-top:270px;
}

#spotify-description{
font-size:20px;
color:white;
margin-top:330px;
width:400px;
margin-left:700px;
position:absolute;
}

#spotify-iframe{
margin-left:10%;
margin-top:50px;
padding:10px;
width:428px;
height:866px;
}

#heem{
  height:1200px;
}


@media screen and (max-width:1000px){
  /*.projects div{
    height:400px;
  }*/

  #text{
    font-size:18px;
    margin-left:15%;

  }

  #heem{
    height:1600px;
  }

  #mywork-heading{

    margin-left:-50px;
  }


  #span-one{
    font-size:20px;
  }

#span-two{
  font-size:20px;
}

#span-three{
  font-size:20px;
}
}

@media screen and (max-width:600px){
  /*.projects div{
    height:400px;
  }*/
#social-media{
  display:none;
}

footer p{
  margin-left:35%;
}

nav ul{
  display:none;
}

#heem-iframe{
  position:absolute;
  margin-left:0%;
  margin-top:200px;
  width:476px;
  height:1000px;
}

#heem-heading{
  color:white;
  font-weight:bold;
  position:absolute;
  margin-left:10px;
  margin-top:1250px;
}

#heem-description{
  font-size:20px;
  color:white;
  margin-top:1300px;
  width:400px;
  margin-left:10px;
  position:absolute;
}

#spotify-heading{
color:white;
font-weight:bold;
position:absolute;
margin-left:30px;
margin-top:950px;
}

#spotify-description{
font-size:20px;
color:white;
margin-top:1010px;
width:400px;
margin-left:30px;
position:absolute;
}

#spotify-iframe{
margin-left:0%;
margin-top:50px;
padding:10px;
width:428px;
height:866px;
}

.projects div{
    height:600px;
}

#panam{
    height:600px;
}

.project-heading{
    margin-left:50px;
    margin-top:170px;
  }

  .project-description{
    margin-top:230px;
    width:275px;
    margin-left:50px;
  }

  .project-image{
    margin-top:300px;
    margin-left:70px;
    width:250px;
    height:175px;
  }



  #text{
    font-size:14px;
    margin-left:0%;
  }

  #mywork-heading{
    font-size:20px;
    margin-left:-50px;
    display:block;
  }

  #span-one{
    font-size:18px;
  }

#span-two{
  font-size:18px;
}

#span-three{
  font-size:18px;
}
}
